@model ReportSystem.Models.Report

@{
    ViewData["Title"] = "Create";
    DateTime today = DateTime.Now;
    string formatToday = today.ToString("yyyy-MM-dd");
    formatToday = formatToday.Replace("-0", "-0");
}

@if (TempData["AlertReportError"] != null)
{
    <div class="alert alert-danger alert-dismissable fade show m-1" role="alert">
        @TempData["AlertReportError"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@* 以下遅刻判定JavaScript *@
<script>
    @*
        id=attendance...出勤
        id=First_Time...出勤時間0~23
        id=Last_Time...0~59
        要素をここに書き連ねる
        *@

        var element = "";
        var F_Time = 0;
        var L_Time = 0;

    function call() {

        const resultInput = document.getElementById('SayHello');
        const isLateField = document.getElementById('isLate');

        if (element == "出勤" && F_Time >= 9 && L_Time > 0 || F_Time>9 ) {
            resultInput.placeholder = 'あなたは遅刻しています。この報告内容欄に遅刻理由を記述しManagerに報告してください。';
            isLateField.value = 'true'; // 条件が true の場合、'true' を設定
            }else {
             resultInput.placeholder = '';
            isLateField.value = 'false'; // 条件が true の場合、'true' を設定
             }
    }

    // 読み込んだ時の出勤種類,hour ,minitus
    window.onload = function () {
                 element = document.getElementById('attendance').value;
        console.log(element);

        F_Time = parseInt(document.getElementById('First_Time').value, 10);
        console.log(F_Time);

        L_Time = parseInt(document.getElementById('Last_Time').value, 10);
        console.log(L_Time);
        call();
        }
    console.log('-----------------');
        //onClickした時の出勤種類
    window.tests = function () {
        element = document.getElementById('attendance').value;
        call();
        }
    //onClickした時の出勤時間、hour
    window.F_hour = function () { 
        F_Time = parseInt(document.getElementById('First_Time').value, 10);
        call();
    }
    //onClickした時の出勤時間、minitus
    window.L_minitus = function () { 
        L_Time = parseInt(document.getElementById('Last_Time').value, 10);
        call();
    }
    

</script>

<div class="container-uindex">
    <h1 class="text-center">報告の作成</h1>
    <div class="container-form">

        @* <p>※後で未達成のタスク一覧を選択して代入する選択肢も追加必要あり？要検討</p> *@

        <form method="post" action="">
            <div class="form-group">
                <label class="control-label">日付</label>
                <input name="values" class="form-control" type="date" value="@formatToday" min="2000-01-01" max="2100-12-31" />
             </div>
            <div class="form-group">
                <label class="control-label">勤怠</label>

                <select name="values" class="form-control" id="attendance" onchange="tests(this);">
                    <option value="出勤" selected>出勤</option>
                    <option value="有給">有給</option>
                    <option value="早退">早退</option>
                    <option value="遅刻">遅刻</option>
                </select>
            </div>

                <div class="form-group">
                    <label class="control-label pt-2 pb-2">出社時間</label>
                    <div class="d-flex">
                        <div>
                            <label class="control-label">時間</label>
                            @* ここを変える *@

                        <select name="values" class="form-control" type="time" id="First_Time" onchange="F_hour(this);">
                                @for (int i = 0; i <= 23; i++)
                                {

                                    @if(i == ViewBag.StartHour)
                                    {
                                 
                                    <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                    <div>
                        <label class="control-label">分</label>
                        <select name="values" class="form-control" type="time"  id="Last_Time" onchange="L_minitus();">
                            @switch(ViewBag.StartMinute)
                            {
                                case 0:
                                    <option value="0" selected>00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    break;
                                case 15:
                                    <option value="0">00</option>
                                    <option value="15" selected>15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    break;
                                case 30:
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30" selected>30</option>
                                    <option value="45">45</option>
                                    break;
                                case 45:
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45" selected>45</option>
                                    break;
                                default:
                                    <option value="0" selected>00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    break;
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label pt-2 pb-2">退勤時間</label>
                <div class="d-flex">
                    <div>
                        <label class="control-label">時間</label>
                        <select name="values" class="form-control" type="time" >
                            @for (int i = 0; i <= 23; i++)
                            {
                                @if (i == ViewBag.EndHour)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        </select>
                    </div>
                    <div>
                        <label class="control-label">分</label>
                        <select name="values" class="form-control" type="time">
                            @switch (ViewBag.EndMinute)
                            {
                                case 0:
                                    <option value="0" selected>00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    break;
                                case 15:
                                    <option value="0">00</option>
                                    <option value="15" selected>15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    break;
                                case 30:
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30" selected>30</option>
                                    <option value="45">45</option>
                                    break;
                                case 45:
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45" selected>45</option>
                                    break;
                                default:
                                    <option value="0" selected>00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45" >45</option>
                                    break;
                            }
                        </select>
                    </div>
                </div>         
            </div>
            <div class="form-group pt-2 pb-2">
                <label class="control-label">体調</label>
                <input name="values" type="radio" value="1" /> <img class="select-icon" src="/images/bad.png" />
                <input name="values" type="radio" value="2" /> <img class="select-icon" src="/images/soso.png" />
                <input name="values" type="radio" value="3" checked /> <img class="select-icon" src="/images/fine.png">
                <input name="values" type="radio" value="4" /> <img class="select-icon" src="/images/good.png" />
                <input name="values" type="radio" value="5" /> <img class="select-icon" src="/images/great.png" />
            </div>
            <div class="form-group">
                <label class="control-label">体調コメント(50文字以内)</label>
                <input name="values" class="form-control" maxlength="50"/>
            </div>
            <div class="form-group">
                <label class="control-label">報告内容(400文字以内)</label>
                <textarea name="values" class="form-control" maxlength="400" style="height:300px;" placeholder="" id="SayHello"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">明日やること(200文字以内)</label>
                <textarea name="values" class="form-control" maxlength="200" style="height:150px;"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="作成" class="w-100 btn btn-lg btn-warning" />
            </div>

            <!-- hidden fieldを追加 -->
            <input type="hidden" id="isLate" name="values" value="" />


        </form>
        <a asp-action="MemIndex">報告一覧に戻る</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
